
.donation-info-container h2 {
  text-align: center;
  margin-bottom: 10px;
}
.donation-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
}
.schedule-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
/* Icon bên trái */
.icon {
  text-align: center;
}

.icon img {
  width: 48px;
  height: 48px;
}

.icon p {
  margin-top: 4px;
  font-size: 14px;
  color: #555;
}

/* Thông tin lịch hẹn */
.info {
  flex: 1;
}

.info .location {
  font-size: 16px;
  color: #b91c1c;
}

.info p {
  margin: 4px 0;
  font-size: 14px;
  color: #333;
}


/* Chi tiết lịch hẹn */
.appointment-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px;
  border-radius: 12px;
  background: white;
}

.appointment-detail h3 {
  text-align: center;
  color: #b91c1c;
}

.appointment-detail p {
  margin: 8px 0;
}

.appointment-detail textarea {
  min-height: 80px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  resize: vertical;
}

.appointment-detail button {
  padding: 6px 12px;
  background: #c5c6c8;
  color: rgb(44, 43, 43);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.appointment-detail button:hover {
  background: #bdbfc2;
}
.body-info {
  background: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
  padding: 16px;
  position: relative;
  z-index: 3; /* Tăng z-index lên cao hơn */
  margin-top: 20px; /* Đẩy lên trên để tạo hiệu ứng */
  margin-bottom: -20px;
  border-radius: 15px;
}
.body-info p{
  margin: 25px 0;
  font-size: 16px;
  color: #333;
}

.body-rating {
  background: #1D4A76;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
  padding-top: 20px; 
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  position: relative;
  z-index: 4; /* Giữ nguyên z-index thấp */
  color: white;
  border-radius: 15px;
}
.body-rating textarea{
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.body-rating h3{
  text-align: center;
  color: #f8a500;
}

.button-back {
  background: #1D4A76;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}