#contact-wrapper {
  color: #b5332b;
}

.contact {
  font-family: "Roboto", sans-serif;
  margin-top: 150px;
}

.contact-header-form {
  background-color: #00000033;
  box-shadow: "0 4px 12px rgba(0,0,0,0.3)";
}
.contact-infor {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
  height: 200px;
  position: relative;
}
.contact-infor::before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: calc(66.66% - 1px);
  width: 2px;
  background: #b3adad;
  border-radius: 1px;
}
.form-text {
  font-size: 20px;
}
.form-input {
  background: transparent;
  border: 1.5px solid #ffffff; /* hoặc bất kỳ màu nào bạn muốn */
  color: #fbfbfb; /* màu chữ */
  padding: 8px;
  border-radius: 4px;
}
.form-submit {
  height: 100%;
}
.button {
  width: 140px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background: transparent;
  border: 1.5px solid #ffffff;
  border-radius: 4px;
  color: #fbfbfb;
  margin-top: 10px;
}
.button:hover {
  background: #ead6d6;
  color: #000000;
}
.contact-infor {
  padding: 30px;
}
.contact-infor-right {
  margin-left: 50px;
}
.text-left {
  color: grey;
}
.text-right {
  color: grey;
}
