.home-page {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.text-wrapper2 {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.wrapper-img img {
  display: block;
  position: relative;
  margin: 0 0;
  width: 100%;
  height: 680px;
  object-fit: cover;
  object-position: top;
}


.wrapper-img::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.192), transparent);
  pointer-events: none;
  z-index: 2;
}

.wrapper-content {
  position: absolute;
  top: 70px;
  left: 40px;
  width: 34.33%;
  color: white;
  //background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;

}

.wrapper-content h2 {
  margin-top: 0;
  font-weight: bold;
  font-size: 5.5em;
  color: rgb(159, 3, 3);
}
.p-wrapper-content {
  margin-top: -10px;
  font-size: 2.5em;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  //color: rgb(91, 69, 69);
  color: #000000;
  letter-spacing: 2px;
}

.p-content {
  font-size: 1em;
  line-height: 1.5;
  margin-top: 50px;
  color: rgb(255, 255, 255);
}

.text-wrapper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(159, 3, 3);

  width: 120px;
  height: 40px;
  border-radius: 1px;
  box-shadow: 0 0 5px rgb(191, 10, 10),
  0 0 25px rgb(201, 3, 3);
}

.text-wrapper-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition: 0.1s;
  box-shadow: 0 0 5px rgb(0, 0, 0),
  0 0 25px rgb(0, 0, 0);
}

/* Group2 */
.overlap-group2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 60px;
}
.text-center-group2 {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 4em; /* Tăng kích cỡ tại đây */
  font-weight: bold;
}

.text-wrapper3 {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin-top: 30px;
  width: 100%;
  

  li {
    flex: 1 1 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
  }
  img {
    width: 15rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }
  h5{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
  }
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 30px;
    color: #000000;
    font-size: 1em;
  }
}
.button-wrapper3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.8em;

}
.button-wrapper3:hover{
  color: #921D13;
}

/* Content */
.content-donor{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 30px;
  background-color: #1D4A76;
}
.img-content-donor{
  background-color: white;
  transform: rotate(-3deg);
  margin-left: 70px;
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    color: #1D4A76;
    font-size: 1.2em;
    font-weight: 200;
  }
}
.bannerHome{
  width: 25rem;
  margin: 20px 20px;
  margin-bottom: 0px;
}
.text-content-donor{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 45rem;
}
.p1-text-content-donor{
  font-size: 3.2em;
  font-weight: bold;
  color: #fff;
  margin-bottom: -10px;

}
.p2-text-content-donor{
  font-size: 3.2em;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  margin-bottom: 0px;
}
.p3-text-content-donor{
  font-size: 2em;
  color: #fff;
  margin-top: 10px;
}
.a-text-content-donor{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #A32823;
  width: 12rem;
  height: 2.5rem;
  border: 1px solid white;

}
.a-text-content-donor:hover{
  color: #ffffff;
  background-color: #850c0c;
  border: 1px solid rgb(250, 250, 250);
  

}















/* Group3 */
.overlap-group3{
  background-color: aqua;
}
.group3-row1{
  background-color: chocolate;
}
.group3-row2{
background-color: chartreuse;
}
.overlap-group4{
  background-color: aquamarine;
}

