.navbar {
  overflow: visible !important;
  position: relative;
  z-index: 2001;
  display: flex;
  padding: 0px 30px;
  background-color: #db230b;
  min-height: 13vh;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  background-color: #db230b;
}

.wrapper-link {
  color: white;
  font-weight: bold;
  font-family: "Nutito", sans-serif;
  font-size: 1.4em;
}
.wrapper-link:hover {
  color: white;
  text-decoration: underline !important;
}

.wrapper-link-login {
  border: none;
  font-weight: bold;
  font-family: "Nutito", sans-serif;
  font-size: 20px;
  padding: 5px 10px;
}
.wrapper-link-login:hover {
  transition: 0.3s ease-in-out;
}
