.blog-manager {
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
}
.blog-manager h2 {
  color: #b5332b;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.blog-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
}

.blog-form input,
.blog-form textarea {
  padding: 10px;
  border: 1px solid #b5332b;
  border-radius: 6px;
  font-size: 16px;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.blog-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.blog-card {
  min-width: 350px;
  border: 1px solid #ddd;

  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-card img {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 6px;
}

.button-group {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.edit-btn,
.delete-btn {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #ffc107;
  color: #fff;
}

.edit-btn:hover {
  background-color: #e0a800;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.delete-btn:hover {
  background-color: #c82333;
}
